/* Feedback effects and hover/select states for the interactive view. */

/* Selected generator highlight */

.generator-on {
      fill: #90ee90;
    }

.generator-off {
      fill: #f08080;
    }

.selected-single {
      fill: orange;
    }

.highlight-group {
      stroke: dodgerblue;
      stroke-width: 4px;
    }

.gen-node.generator:hover .generator-shape {
  stroke: #007acc;
  stroke-width: 10px;
}

.selected-generator .generator-shape {
  fill: #007acc !important;
  stroke: #a2d5f7 !important;
  stroke-width: 10px;
}